# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
cytocv_venv/
cyto_cv/
.cytocv-local-install/

# Neural network
deepretina_final.h5

# Migrations and cache
cytocv/core/migrations/__pycache__/
cytocv/accounts/migrations/__pycache__/
cytocv/cache/
cytocv/media/

.idea

# Code Formatting
.vscode/
settings.json

# Config files
*.cfg

.env
.env.production
cytocv/.postgres-local-admin.txt
