# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
cytocv_venv/

# Neural network
deepretina_final.h5

# Migrations and cache
cytocv/core/migrations/
cytocv/accounts/migrations/
cytocv/cache/
cytocv/media/

.idea

# Code Formatting
.vscode/
settings.json

# Config files
*.cfg

.env
